body {
  color:#202124;
  background-color: #fefefe;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

h1{
  color: white;
  font-family: 'Public Sans', sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 2;
}

h2, h3 {
  color: #4433A3;
  font-family: 'Public Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.6;
}

a {
  color: #6ABAA4;
  text-decoration: none;
  font-weight: 700
}

a:hover {
  text-decoration: none;
  color: #62a996;
}

i {
  color: #6ABAA4;
  font-size: 50px;
  text-decoration: none;
}

i:hover {
  text-decoration: none;
  color: #62a996;
}

.btn-grn {
  background-color: #6ABAA4;
  color: #ffffff;
  padding: 15px 20px;
  border-radius: 4px;
}

.btn-grn:hover {
  background-color: #62a996;
  color: #ffffff;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.card {
  background-color: #fefefe;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
}

#header-purp-bkgrd {
  background-color: #4433A3;
  padding: 20px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 16px;
  margin: 20px 0px;
}

.text-center {
  text-align: center;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.img-circle-white-border {
  border-radius: 50%;
  border: 3px solid white;
}

#introduction p {
  margin-bottom: 40px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 600px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
